.movie-list {
  padding-top: 70px;
}

.movie-list__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  grid-gap: 32px 28px;
  justify-content: center;
}

.movie-list__more-btn {
  width: 320px;
  height: 36px;
  background-color: #ffffff;
  border: 1px solid #E8E8E8;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin: 60px auto 0;
  display: block;
  cursor: pointer;
  transition: opacity .4s linear;
}

.movie-list__more-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 960px){
  .movie-list__wrapper{
    grid-template-columns: repeat(auto-fill, 342px);
    grid-gap: 35px 24px;
  }
  .movie-list__more-btn {
    margin-top: 80px;
  }
}

@media screen and (max-width: 460px){
  .movie-list__wrapper{
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 16px 0;
  }
  .movie-list__more-btn {
     width: 240px;
   }

}
