.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0;
}

.form__submit-btn {
  height: 45px;
  border-radius: 3px;
  background: #3456F3;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  margin: 69px 0 16px;
  cursor: pointer;
  transition: opacity 0.4s linear;
}

.form__submit-btn_margin {
  margin-top: 157px;
}


.form__submit-btn:hover {
  opacity: .8;
}

.form__invite {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
  margin: 0;
}

.form__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #3456F3;
  text-decoration: none;
  margin-left: 6px;
  transition: opacity 0.4s linear;
}

.form__link:hover {
  opacity: .7;
}