.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0;
}

.form__invite {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
  margin: 0;
}

.form__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #3456F3;
  text-decoration: none;
  margin-left: 6px;
  transition: opacity 0.4s linear;
}

.form__link:hover {
  opacity: .7;
}

@media screen and (max-width: 460px) {
  .form__title {
    margin: 50px 0 80px;
    text-align: center;
  }

  .form__invite {
    font-size: 12px;
    line-height: 15px;
  }

  .form__submit-btn {
    margin-top: 157px;
  }

  .form__submit-btn_margin {
    margin-top: 245px;
  }

  .form__link {
    font-size: 12px;
    line-height: 15px;
  }
}
