
.burger-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  transition: transform 0.4s linear;
  z-index: 1;
  height: 100vh;
  width: 67vw;
  background: red;
}

.burger-menu_open {
  display: flex;
}

.hamburger-react {
  z-index: 101;
}
