.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  transform: translateX(100%);
  transition: transform 0.4s linear;
  z-index: 100;
  height: 100vh;
  width: calc(67vw - 520px);
  background: red;
}

.burger-menu_open {
  transform: translateX(0);
}

.hamburger-react {
  z-index: 101;
}
